.operations {

    position: absolute;
    justify-content: space-between;
    display: flex;
    width: 250px;
    top: 44px;
    right: 42%;
    z-index: 9999;
    box-shadow: rgba(68, 67, 64, 0.24) 0px 0px 16px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    visibility: hidden;

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        opacity: 0.5;
    }
}

// .operations-header{
//     background-color: black;
// }

.operations-header:hover .operations {
    visibility: visible;
}